.tokens-grid {
  width: 100%;
  font-family: sans-serif;
  color: #fff;
  border-collapse: collapse;
  border: 0;
}

.tokens-grid thead th {
  font-weight: bolder;
  text-align: left;
}

.tokens-grid th, .tokens-grid td {
  padding: 1rem 1.5rem;
}

.tokens-grid tbody tr:nth-child(even) {
  background-color: #323232;
}
